* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: Cormorant Infant;
  src: url(../fonts/Cormorant_Infant/CormorantInfant-Regular.ttf);
}

body {
  background: #e5e5e5;
}

.sayt {
  background: #ffffff;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  overflow: hidden;

  & > .header {
    background: #292e36;
    & > .header__top {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #5c6168;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      & > h3 {
        border: 2px solid #e1b168;
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        /* identical to box height, or 150% */
        padding-top: 20px;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: 0.2px;
        width: 295px;
        height: 73px;
        color: #ffffff;
        margin: 10px;
      }

      & > img {
        max-width: 370px;
        width: 90%;
        margin: 20px;
      }

      & > button {
        margin: 10px;
        width: 295px;
        height: 73px;

        background: #e1b168;
        border: 2px solid #e1b168;
        border-radius: 0px;
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: 0.44px;

        color: #292e36;
      }
    }

    & > .header__bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 6px;

      & > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        & > li {
          list-style: none;
          margin: 20px 30px;

          & > a {
            text-decoration: none;
            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height, or 150% */

            letter-spacing: 0.2px;

            color: #ffffff;
          }
          & > a:hover {
            color: #e1b168;
          }
        }
      }

      & > .social {
        & > a {
          margin: 10px;
          & > i {
            font-size: 24px;
            color: #ffffff;
          }
        }
      }
    }
  }

  & > .welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #292e36;

    & > .welcome__text {
      max-width: 616px;
      width: 100%;
      margin: 20px;

      & > h1 {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 110px;
        /* identical to box height, or 110% */

        letter-spacing: 0.2px;

        color: #ffffff;
      }

      & > p {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */

        letter-spacing: 0.2px;
        margin-top: 26px;
        color: #ffffff;
      }

      & > button {
        width: 230px;
        height: 73px;
        background-color: transparent;
        border: 2px solid #e1b168;
        margin-top: 35px;
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: 0.2px;

        color: #e1b168;
      }
    }

    & > img {
      max-width: 720px;
      width: 95%;
    }
  }

  & > .info {
    background: #fff8f5;
    padding: 80px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & > .info__card {
      display: flex;
      align-items: center;
      margin: 20px 15px;
      max-width: 430px;
      width: 95%;

      & > div {
        margin-left: 20px;
        & > h3 {
          font-family: "Cormorant Infant";
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 39px;
          /* identical to box height, or 130% */

          letter-spacing: 0.2px;

          color: #292e36;
        }

        & > h5 {
          font-family: "Josefin Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          /* identical to box height, or 150% */

          letter-spacing: 0.2px;
          color: #555555;
        }
      }
    }
  }

  & > .about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: #fff8f5;
    padding-bottom: 100px;
    & > img {
      max-width: 743px;
      width: 100%;
      margin-bottom: 20px;
    }

    & > .about__text {
      max-width: 560px;
      margin: 20px;

      & > h2 {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;
        /* identical to box height, or 140% */

        letter-spacing: 0.2px;

        color: #292e36;
      }
      & > p {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */

        letter-spacing: 0.2px;

        color: #555555;
        margin-top: 15px;
      }

      & > div {
        width: 247px;
        display: inline-block;
        margin-top: 25px;
        & > h2 {
          font-family: "Cormorant Infant";
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 56px;
          /* identical to box height, or 140% */

          letter-spacing: 0.2px;

          color: #292e36;
        }

        & > p {
          font-family: "Josefin Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          /* or 150% */

          letter-spacing: 0.2px;

          color: #555555;
          margin-top: 15px;
        }
      }

      & > h3 {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */

        letter-spacing: 0.2px;

        color: #555555;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  & > .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 140px;
    padding-bottom: 150px;

    & > .dishes {
      display: flex;
      flex-direction: column;
      max-width: 486px;

      & > h3 {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        /* identical to box height, or 150% */

        letter-spacing: 3px;
        text-transform: uppercase;

        color: #292e36;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #e1b168;
        border-bottom: 1px solid #e1b168;
        width: 60px;
      }

      & > h2 {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;
        /* identical to box height, or 140% */

        letter-spacing: 0.2px;
        text-transform: capitalize;

        color: #292e36;
        margin-top: 12px;
      }

      & > p {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */

        letter-spacing: 0.2px;

        color: #555555;
        margin-top: 13px;
      }
      & > img {
        max-width: 548px;
        width: 100%;
        margin-top: 45px;
      }

      & > button {
        border: 2px solid #e1b168;
        width: 255px;
        height: 73px;
        margin-top: 60px;

        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: 0.2px;

        color: #e1b168;
        background-color: transparent;
      }
    }

    & > .taomlar {
      margin-top: 33px;
      max-width: 819px;
      width: 100%;

      & > h3 {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 50px;
        /* identical to box height, or 140% */

        letter-spacing: 0.2px;
        margin-left: 15px;
        color: #292e36;
        margin-bottom: 40px;
      }

      & > .taomlar__card {
        & > .taomlar__card__taom {
          margin: 20px;
          margin-bottom: 50px;

          display: flex;
          align-items: center;

          & > img {
            margin-right: 20px;
          }

          & > div {
            max-width: 660px;
            width: 100%;
            & > h3 {
              font-family: "Cormorant Infant";
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 42px;
              /* identical to box height, or 140% */

              letter-spacing: 0.2px;

              color: #292e36;
            }

            & > div {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              max-width: 660px;
              width: 100%;
              & > p {
                margin-top: 5px;
                margin-right: 5px;
                font-family: "Josefin Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                /* identical to box height, or 150% */

                letter-spacing: 0.2px;

                color: #555555;
              }

              & > .hr {
                max-width: 200px;
                width: 100%;
                height: 1px;
                border-top: 2px solid #aaaaaa;
                display: inline-block;
              }
            }
          }

          & > h3 {
            font-family: "Cormorant Infant";
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 42px;
            /* identical to box height, or 140% */

            letter-spacing: 0.2px;
            color: #292e36;
            align-self: flex-end;
          }
        }
      }
    }
  }

  & > .clients {
    padding-top: 139px;
    padding-bottom: 140px;
    background: #292e36;
    & > div {
      padding-left: 40px;

      & > h3 {
        width: 141px;
        border-top: 1px solid #e1b168;
        border-bottom: 1px solid #e1b168;
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;

        /* identical to box height, or 150% */

        letter-spacing: 3px;
        text-transform: uppercase;

        color: #ffffff;
      }
      & > h2 {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;
        /* identical to box height, or 140% */

        letter-spacing: 0.2px;
        text-transform: capitalize;
        margin-top: 12px;
        color: #ffffff;
      }

      & > p {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */

        letter-spacing: 0.2px;

        color: #ffffff;
        margin-top: 8px;
        margin-right: 10px;
        margin-bottom: 40px;
      }
    }
    & > .owl-carousel {
      & > .owl-stage-outer {
        & > .owl-stage {
          & > .owl-item {
            & > .item {
              & > .card {
                padding: 0 40px;
                background: #343942;
                & > div {
                  display: flex;
                  align-items: center;

                  & > img {
                    width: 113px;
                    margin-right: 30px;
                  }

                  & > div {
                    & > h3 {
                      font-family: "Cormorant Infant";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 30px;
                      line-height: 42px;
                      /* identical to box height, or 140% */

                      letter-spacing: 0.2px;

                      color: #ffffff;
                    }
                    & > h5 {
                      font-family: "Josefin Sans";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 20px;
                      line-height: 30px;
                      /* identical to box height, or 150% */

                      letter-spacing: 0.2px;

                      color: #e1b168;
                    }
                  }
                }

                & > p {
                  margin-top: 30px;
                  padding-top: 32px;
                  font-family: "Cormorant Infant";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 24px;
                  line-height: 38px;
                  /* or 156% */
                  border-top: 1px solid #797e89;
                  letter-spacing: 0.25px;

                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }

  & > .chiroq {
    width: 100%;
  }

  & > .offers {
    padding-top: 140px;
    padding-bottom: 120px;

    & > h3 {
      width: 78px;
      margin: auto;
      border-top: 1px solid #e1b168;
      border-bottom: 1px solid #e1b168;
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      /* identical to box height, or 150% */

      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;

      color: #292e36;
    }

    & > h2 {
      font-family: "Cormorant Infant";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 56px;
      /* identical to box height, or 140% */

      text-align: center;
      letter-spacing: 0.2px;
      text-transform: capitalize;

      color: #292e36;
      margin-top: 12px;
    }

    & > p {
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height, or 150% */

      text-align: center;
      letter-spacing: 0.2px;

      color: #555555;
      max-width: 813px;
      width: 95%;
      margin: auto;
      margin-top: 8px;
      margin-bottom: 10px;
    }

    & > .offers__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      & > .offers__block__card {
        max-width: 665px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 40px;
        box-sizing: border-box;
        padding-top: 67px;
        padding-bottom: 45px;
        margin: 15px;
        margin-top: 30px;

        & > div {
          & > h3 {
            margin-top: 43px;
            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            /* identical to box height, or 150% */
            width: 212px;
            letter-spacing: 4.5px;
            text-transform: uppercase;
            border-top: 1px solid #292e36;
            border-bottom: 1px solid #292e36;
            color: #292e36;
            padding-top: 4px;
          }
          & > h2 {
            font-family: "Cormorant Infant";
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 56px;
            /* identical to box height, or 140% */

            letter-spacing: 0.2px;

            color: #292e36;
            margin-top: 8px;
          }

          & > p {
            margin-top: 5px;
            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            /* or 150% */

            letter-spacing: 0.2px;
            max-width: 245px;
            color: #555555;
          }
        }
      }

      & > :nth-child(1) {
        background: url(../images/b_bgr.png) center center / cover;
      }

      & > :nth-child(2) {
        background: url(../images/p_bgr.png) center center / cover;
      }
    }
  }

  & > .popular {
    padding-bottom: 140px;
    & > h3 {
      margin: auto;
      width: 60px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-top: 1px solid #e1b168;
      border-bottom: 1px solid #e1b168;
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      /* identical to box height, or 150% */

      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;

      color: #292e36;
    }
    & > h2 {
      font-family: "Cormorant Infant";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 56px;
      /* identical to box height, or 140% */

      text-align: center;
      letter-spacing: 0.2px;
      text-transform: capitalize;

      color: #292e36;
      margin-top: 12px;
    }
    & > p {
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height, or 150% */

      text-align: center;
      letter-spacing: 0.2px;

      color: #555555;
      max-width: 760px;
      width: 95%;
      margin: auto;
      margin-top: 8px;
      margin-bottom: 35px;
    }

    & > .popular__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      & > .popular__block__card {
        max-width: 318px;
        width: 95%;
        margin: 10px;
        margin-top: 15px;
        & > img {
          width: 100%;
        }
        & > h3 {
          font-family: "Cormorant Infant";
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 42px;
          /* identical to box height, or 140% */
          margin-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #dcdcdc;
          letter-spacing: 0.2px;
          display: flex;
          justify-content: space-between;
          color: #292e36;
        }
        & > p {
          font-family: "Josefin Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          /* or 150% */

          letter-spacing: 0.2px;
          margin-top: 13px;
          color: #555555;
        }
      }
    }

    & > button {
      display: block;
      margin: auto;
      margin-top: 50px;
      border: 2px solid #e1b168;
      width: 255px;
      height: 73px;
      background-color: transparent;
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #e1b168;
    }
  }

  & > .services {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 40px;
    padding-right: 25px;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    background: #292e36;

    & > .services__text {
      max-width: 438px;
      width: 95%;

      & > h3 {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        /* identical to box height, or 150% */

        letter-spacing: 3px;
        text-transform: uppercase;
        border-top: 1px solid #e1b168;
        border-bottom: 1px solid #e1b168;
        width: 172px;
        color: #ffffff;
        padding-bottom: 5px;
        padding-top: 5px;
      }
      & > h2 {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;
        /* identical to box height, or 140% */

        letter-spacing: 0.2px;
        text-transform: capitalize;

        color: #ffffff;
        margin-top: 10px;
      }
      & > p {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */

        letter-spacing: 0.2px;

        color: #ffffff;
        margin-top: 13px;
      }
    }
    & > img {
      margin: 15px;
    }
  }

  & > .blog {
    padding-top: 140px;

    & > h3 {
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      /* identical to box height, or 150% */

      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;

      color: #292e36;
      border-top: 1px solid #e1b168;
      border-bottom: 1px solid #e1b168;
      margin: auto;
      padding-top: 10px;
      width: 56px;
    }

    & > h2 {
      font-family: "Cormorant Infant";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 56px;
      /* identical to box height, or 140% */

      text-align: center;
      letter-spacing: 0.2px;
      text-transform: capitalize;
      margin-top: 11px;
      color: #292e36;
    }
    & > p {
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height, or 150% */

      text-align: center;
      letter-spacing: 0.2px;

      color: #555555;
      max-width: 465px;
      width: 95%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    & > .blog__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      & > .blog__cards__card {
        max-width: 640px;
        margin: 20px;

        & > :nth-child(1) {
          padding-top: 155px;
          padding-bottom: 155px;

          & > button {
            display: block;
            margin: auto;
            background-color: #e1b168;
            border: 2px solid #e1b168;
            width: 227px;
            height: 73px;
            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            text-align: center;
            letter-spacing: 0.44px;
            color: #292e36;
          }
        }
      }

      & > :nth-child(1) {
        & > :nth-child(1) {
          background: url(../images/blog1.png) center center / cover;
        }
      }
      & > :nth-child(2) {
        & > :nth-child(1) {
          background: url(../images/blog2.png) center center / cover;
        }
      }
    }
  }

  & > .forma {
    padding-top: 140px;
    padding-bottom: 140px;
    background: url(../images/form_bg.png) center center / cover;

    & > .forma__block {
      max-width: 920px;
      width: 95%;
      margin: auto;
      background: rgba(41, 46, 54, 0.95);
      padding-top: 140px;
      padding-bottom: 155px;

      & > h3 {
        padding-top: 8px;
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;

        color: #ffffff;
        border-top: 1px solid #e1b168;
        border-bottom: 1px solid #e1b168;
        margin: auto;
        width: 143px;
      }
      & > h2 {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;
        /* identical to box height, or 140% */
        margin-top: 11px;
        text-align: center;
        letter-spacing: 0.2px;
        text-transform: capitalize;

        color: #ffffff;
      }

      & > form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 640px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;

        & > input {
          margin-top: 15px;
          margin-bottom: 15px;
          font-family: "Josefin Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 33px;
          /* identical to box height, or 150% */

          letter-spacing: 0.2px;
          box-sizing: border-box;
          padding-left: 23px;
          color: #ffffff;
          height: 70px;
          background-color: transparent;
          border: 1px solid #858585;
          width: 198px;
        }

        & > :nth-child(1) {
          width: 307px;
        }
        & > :nth-child(2) {
          width: 307px;
        }
      }
      & > button {
        width: 242px;
        height: 68px;
        display: block;
        border: none;
        margin: auto;
        background: #ffffff;
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #000000;
        margin-top: 15px;
      }
    }
  }
}
