* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: Cormorant Infant;
  src: url(../fonts/Cormorant_Infant/CormorantInfant-Regular.ttf);
}

body {
  background: #e5e5e5;
}

.sayt {
  background: #ffffff;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  overflow: hidden;

  & > .header {
    background: #292e36;
    & > .header__top {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #5c6168;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      & > h3 {
        border: 2px solid #e1b168;
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        /* identical to box height, or 150% */
        padding-top: 20px;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: 0.2px;
        width: 295px;
        height: 73px;
        color: #ffffff;
        margin: 10px;
      }

      & > img {
        max-width: 370px;
        margin: 20px;
      }

      & > button {
        margin: 10px;
        width: 295px;
        height: 73px;

        background: #e1b168;
        border: 2px solid #e1b168;
        border-radius: 0px;
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: 0.44px;

        color: #292e36;
      }
    }

    & > .header__bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 6px;

      & > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        & > li {
          list-style: none;
          margin: 20px 30px;

          & > a {
            text-decoration: none;
            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height, or 150% */

            letter-spacing: 0.2px;

            color: #ffffff;
          }
        }
      }

      & > .social {
        & > a {
          margin: 10px;
          & > i {
            font-size: 24px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
